body {
  margin: 0;
  padding: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button:active{
  opacity: 0.5
}

.todo-item .date{
  display: none ;
}
.todo-item:hover .date{
  display: block ;
}

.todo-item{
  animation: show-todo 0.5s linear forwards;
}
.todo-item.remove{
  animation: hide-todo 0.8s linear forwards;
}

@keyframes show-todo {
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes hide-todo {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  50%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX(100%);
    opacity: 0;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;
